@section scripts
{
    <script>
        scrumPoker.value('BaseUrl', '@ViewBag.BaseUrl'); // todo remove later
    </script>
}

<div>
    <div ng-controller="roomController as roomCtrl">

        <div id="room-view">
            <div class="page-header">

                <h1 class="room-number" ng-cloak>Room ID: {{roomCtrl.roomId}}</h1>
                <h2 class="room-number" ng-cloak>Avg score: {{roomCtrl.model.avgScore}}</h2>
                <div class="qr-button-container">
                    <button class="btn btn-primary btn-lg show-qr-button" ng-click="roomCtrl.showHideQr()" ng-cloak>{{roomCtrl.showQr ? 'Hide QR Code' : 'Show QR Code'}}</button>
                </div>

            </div>
            <div class="container ng-hide" ng-show="roomCtrl.Votes">
                <div class="text-centered">
                </div>

                <div class="row" ng-show="!roomCtrl.showQr">
                    <div class="client-entry" ng-repeat="voter in roomCtrl.model.voters">

                        <div class="client-header" ng-class="{'voted':voter.VoteValue}">
                            {{voter.Name}}
                            <button class="btn btn-primary" ng-click="roomCtrl.kickClient(voter.ClientId)">Kick</button>
                        </div>
                        <div class="vote-container" ng-click="roomCtrl.flipMe(!roomCtrl.isFlipped)">
                            <div class="vote-card" ng-show="roomCtrl.isFlipped">
                                <div class="card-face">
                                    {{voter.VoteValue}}
                                </div>
                            </div>
                            <div class="vote-card" ng-show="!roomCtrl.isFlipped">
                                <div class="card-back"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="text-centered" ng-show="roomCtrl.showQr" ng-cloak>
            <div class="qr-container">
                <qrcode data="{{roomCtrl.roomUrl}}"
                        size="400"
                        type_number="6"
                        color="#46639D"
                        background="#eeeeee"></qrcode>
            </div>
        </div>
    </div>
</div>