@section scripts
{
    @Scripts.Render("~/bundles/angular")
    <script>
        ScrumPoker.value('RoomId', '@ViewBag.RoomId');
        ScrumPoker.value('BaseUrl', '@ViewBag.BaseUrl');
    </script>

    <script type="text/javascript" src="~/Scripts/Modules/roomService.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/QrController.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/RoomController.js"></script>
}
@section HeaderScripts
{
    @Styles.Render("~/Room/css")
}

<div ng-app="ScrumPoker">
    <div ng-controller="QrController as qrctrl">
        <div id="room-view" ng-controller="RoomController as ctrl">
            <div class="page-header">
                <h1 class="room-number">Room ID: {{ViewModel.RoomId}}</h1>
                <div class="qr-button-container">
                    <button class="btn btn-primary btn-lg show-qr-button" ng-click="qrctrl.changeQrState()" ng-cloak>{{qrctrl.showQr ? 'Hide QR Code' : 'Show QR Code'}}</button>
                </div>
            </div>
            <div class="container ng-hide" ng-show="dataLoaded">
                <div class="text-centered">

                </div>
                <div class="row" ng-show="!qrctrl.showQr">
                    <div class="client-entry" ng-repeat="client in ViewModel.Clients">

                        <div class="client-header" ng-class="{'voted':client.IHaveVoted}">{{client.Name}}</div>

                        <div class="vote-container" ng-click="flipMe(!isFlipped)">
                            <div class="vote-card" ng-show="isFlipped">
                                <div class="card-face">
                                    {{client.VoteValue}}
                                </div>
                            </div>
                            <div class="vote-card" ng-hide="isFlipped">
                                <div class="card-back"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="text-centered" ng-show="qrctrl.showQr" ng-cloak>
            <div class="qr-container">
                <qrcode data="{{qrctrl.roomUrl}}"
                        size="400"
                        type_number="6"
                        color="#46639D"
                        background="#eeeeee"></qrcode>
            </div>
        </div>
    </div>
</div>