@section scripts
{
	@Scripts.Render("~/bundles/angular")
    <script>
        ScrumPoker.value('RoomId', '@ViewBag.RoomId');
        ScrumPoker.value('BaseUrl', '@ViewBag.BaseUrl');
    </script>
    <script type="text/javascript" src="~/Scripts/Modules/QrController.js"></script>
	<script type="text/javascript" src="~/Scripts/Modules/RoomController.js"></script>
}
@section HeaderScripts
{
	@Styles.Render("~/Room/css")
}

<div ng-app="ScrumPoker">
    <div ng-controller="QrController as qrctrl">
        
        <div id="room-view" ng-controller="RoomController as ctrl">
            <div class="ng-hide" ng-show="dataLoaded">
                <div class="room-number">
                    Room ID: {{ViewModel.RoomId}}
                </div>
                <div class="text-centered">
                    <button class="btn btn-primary btn-lg show-qr-button" ng-click="qrctrl.changeQrState()" ng-cloak>{{qrctrl.activeState.buttonText}}</button>
                </div>
                <div ng-show="!qrctrl.activeState.showQr">
                    <ul class="client-list">
                        <li ng-repeat="cn in connected">

                            {{cn}}
                        </li>
                    </ul>

                    <ul class="client-list">
                        <li ng-repeat="client in ViewModel.Clients">

                            <div class="hard-header" ng-class="{'voted':client.IHaveVoted}">{{client.Name}}</div>

                            <div class="flip">
                                <div class="card" ng-class="{'flipped':!isFlipped}" ng-click="flipMe(!isFlipped)">
                                    <div class="face front">
                                        {{client.VoteValue}}
                                    </div>
                                    <div class="face back">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-centered" ng-show="qrctrl.activeState.showQr" ng-cloak>
            <div class="qr-container">
                <qrcode data="{{qrctrl.roomUrl}}"
                        size="400"
                        type_number="5"
                        color="#46639D"
                        background="#eeeeee"></qrcode>
            </div>
        </div>
    </div>
</div>