@section scripts
{
    <script>
        scrumPoker.value('ClientId', '@ViewBag.ClientId'); // todo remove later
    </script>
}


<div id="voting-view" ng-controller="votingController as votingCtrl">
    <div class="page-header">
        <h1 class="room-number">Room number: {{votingCtrl.roomId}}</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="vote-container" ng-repeat="selection in votingCtrl.votes" ng-click="votingCtrl.vote(selection.Number)">
                <div class="vote-card" ng-show="votingCtrl.canVote" ng-class="{'selected-card': selection.Selected}">
                    <div class="card-face">
                        {{selection.Number}}
                    </div>
                </div>
                <div class="vote-card" ng-show="!votingCtrl.canVote">
                    <div class="card-back"></div>
                </div>
            </div>
        </div>
    </div>
</div>

