@section scripts
{
    @Scripts.Render("~/bundles/angular")
    <script>
        ScrumPoker.value('ClientId', @ViewBag.ClientId);
    </script>
    <script type="text/javascript" src="~/Scripts/Modules/votingService.js"></script>
    <script type="text/javascript" src="~/Scripts/Modules/VotingController.js"></script>
}
@section HeaderScripts
{
    @Styles.Render("~/Voting/css")
}

<div ng-app="ScrumPoker">
    <div id="voting-view" ng-controller="VotingController as ctrl">
        <div class="ng-hide" ng-show="dataLoaded">

            <div class="page-header">
                <h1 class="room-number">Room number: {{ViewModel.Client.RoomId}}</h1>
            </div>

            <div class="container">
                <div class="row">
                    <div class="vote-container" ng-repeat="selection in ViewModel.VotingConfiguration.Selection" ng-click="SetMyVote(selection.Number)">
                        <div class="vote-card" ng-show="ViewModel.CanIVote" ng-class="{'selected-card': selection.Number == ViewModel.Client.VoteValue}">
                            <div class="card-face">
                                {{selection.Number}}
                            </div>
                        </div>
                        <div class="vote-card" ng-hide="ViewModel.CanIVote">
                            <div class="card-back"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

