<div class="jumbotron">
    <h1>Scrum poker</h1>   
</div>
<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("CreateRoom", "Room")" class="btn btn-primary btn-lg">Create room</a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Connect", "Mobile")" class="btn btn-success btn-lg">Join room</a>
    </div>
</div>
