@section scripts
{
    <script>
        scrumPoker.value('BaseUrl', '@ViewBag.BaseUrl'); // todo remove later
        scrumPoker.value('RoomId', '@ViewBag.RoomId'); // todo remove later
    </script>
}

<div class="home-view">
    <div ng-controller="homeController as homeCtrl">
        <div class="join-room">
            <h1>Join existing room</h1>
            <form>

                <div class="form-group">
                    <input ng-model="homeCtrl.joinRoomModel.roomId" type="text" name="roomId" placeholder="Room Number" required />
                </div>
                <div class="form-group">
                    <input ng-model="homeCtrl.joinRoomModel.username" type="text" name="userName" placeholder="User Name" required />
                </div>
                <p class="text-danger" style="margin: 15px" ng-if="homeCtrl.joinRoomErrorMsg">
                    {{homeCtrl.joinRoomErrorMsg}}
                </p>
                <button type="submit" ng-click="homeCtrl.joinRoom(homeCtrl.joinRoomModel)" class="btn btn-primary btn-lg">Join Room &raquo;</button>
            </form>
        </div>
        <div class="create-room">
            <h1>Create you own room</h1>
            <form>
                <div>
                    <button type="submit" ng-click="homeCtrl.createRoom()" class="btn btn-primary btn-lg">Create Room &raquo;</button>
                </div>
            </form>
            <div class="source-link">
                <a href="https://github.com/BalticAmadeus/ScrumPoker"><img src="~/Content/Images/GitHub-Mark-Light-32px.png"></a> Join us on <a href="https://github.com/BalticAmadeus/ScrumPoker">GitHub</a> to improve this solution.
            </div>
        </div>
    </div>
</div>