<div class="home-view">
	<div class="join-room">
		
        <h1>Join existing room</h1>

		@using (Html.BeginForm("Join", "Home", FormMethod.Post))
		{
			<div class="form-group">
                <input type="text" name="userName" placeholder="User Name" required />
			</div>
			<div class="form-group">
				<input type="text" name="roomId" placeholder="Room Number" required />
			</div>
            <button type="submit" class="btn btn-primary btn-lg">Join Room &raquo;</button>
        }
	</div>
    <div class="create-room">
        
        <h1>Create you own room</h1>

        @using (Html.BeginForm("CreateRoom", "Home", FormMethod.Post))
        {
            <button type="submit" class="btn btn-primary btn-lg">Create Room &raquo;</button>
        }
    </div>
</div>