body {
	background-color:#eeeeee;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.join-room{
	background-color:#eeeeee;
	color:#46639d;
}

.create-room{
	background-color:#46639d;
	color:#eeeeee;
    padding-bottom:50px;
}

.home-view h1{
	text-align:center;
	font-size:50px;
	padding-top:100px;
}

.join-room form{
	text-align:center;
	margin-top:50px;
}

.join-room button, .create-room button:visited, .create-room button:hover{
	background-color:#46639d;
	color:#eeeeee;
	border-color:#46639d;
	width:30%;
}

.join-room button:hover{
	background-color:#46639d;
}

.create-room form{
	text-align:center;
	margin-top:50px;
}

.create-room button, .create-room button:visited, .create-room button:hover{
	background-color:#eeeeee;
	color:#46639d;
	border-color:#46639d;
	width:30%;
}

.create-room button:hover{
	background-color:#dddddd;
}

.home-view label{
	width:150px;
}

.home-view input{
	width:200px;
	height:30px;
	border-radius:5px;
	border:1px solid #46639d;
	box-shadow:none;
	text-shadow:none;
	margin-top:10px;
	padding-left:10px;
}

@media only screen and (max-width: 992px) {
    .home-view h1{
	    padding-top:30px;
	    font-size:30px;
    }

    .home-view button, home-view button:hover{
	    width:50% !important;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
